# ansible -m copy -a "dest=hello content=world" localhost --check --diff

- name: copy module test
  hosts: localhost
  tasks:
  - copy:
      dest: hello
      content: world
      src: 
  - command: date
