# ansible -m copy -a "dest=hello content=world" localhost --check --diff

- name: install nginx
  hosts: pi3
  tasks:
    - ansible.builtin.apt:
        name: nginx

- name: copy module test
  hosts: localhost
  tasks:
    - copy:
        dest: hello
        content: world
        src:
    - command: date

# ansible -m pip -a "name=argcomplete" localhost
- name: controller requirements
  hosts: localhost
  tasks:
    - name: install ansible-lint
      pip:
        name: ansible-lint
