- name: install nginx
  hosts: pi3
  tags: nginx
  diff: true
  tasks:
    - ansible.builtin.apt:
        name: nginx

- name: copy module test
  hosts: localhost
  tasks:
    - copy:
        dest: hello
        content: world
        src:
    - command: date

- name: controller requirements
  hosts: localhost
  tasks:
    - name: install ansible-lint
      pip:
        name: ansible-lint
