- name: install nginx
  hosts: localhost
  tags: macos
  tasks:
  - name: ensure accent color is pink (6)
    community.general.osx_defaults:
      domain: NSGlobalDomain
      key: AppleAccentColor
      type: integer
      value: 6

- name: install nginx
  hosts: pi3
  tags: nginx
  diff: true
  become: true
  tasks:
    - ansible.builtin.apt:
        update_cache: true
        name: nginx

- name: copy module test
  hosts: localhost
  tasks:
    - copy:
        dest: hello
        content: world
        src:
    - command: date

- name: controller requirements
  hosts: localhost
  tasks:
    - name: install ansible-lint
      pip:
        name: ansible-lint
